.Folder {
    background-color: red;
    width: 10rem;
    height: 5rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.Folder ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.Name {
    font-weight: bold;
}

.Chev {
    color: white;
}
